*{
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.section-nav{
    padding: 30px 40px;
    margin-bottom: 15px;
    background-color: #28a745;
    color: white;
    opacity: 0.95;
}

.itemlister{
    color: white;
    font-size: 40px;
    
}
.addItemsInput{
    box-shadow: 1px 2px 1px rgba(255,255,255);
    outline: none;
    display: flex;
}
.addItemsInput:focus{
    border: 1px solid #28a745;
    opacity: 0.8;
}

.btn-dark{
    color: white;
    background-color: #343a40;
    margin-left: 12px;

}
.card-parent{
    background-color: #f4f4f4;
}

.new-section{
    margin: 12px 0px;
}

